<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Flask Auth Repo</title>
    <!-- Bulma CSS -->
    <link rel = "stylesheet" type="text/css" href="{{url_for('static',filename='styles.css')}}">
   
    <script src="https://cdn.tailwindcss.com"></script>
   
    
    

  </head>
  <body>
    {% include "includes/_navbar.html" %} {% with messages =
    get_flashed_messages(with_categories=true) %} {% if messages %}

    <center>
      <div ">{% include "includes/_notifs.html" %}</div>
    </center>
    {% endif %} {% endwith %}
    <div >{% block body %} {% endblock %}</div>
  </body>
</html>
