{% extends 'index.html' %} {% block body %}

<div class="container" style="margin-top: 20px">
  <section class="hero is-primary">
    <div class="hero-body">
      <h1 class="is-size-1 has-text-weight-bold has-text-dark">
        <i class="fas fa-angle-double-right"></i>
        Welcome!
      </h1>
    </div>
  </section>
  <div class="columns" style="margin-top: 10px">
    <div class="column is-half">
      <article class="message is-info">
        <div class="message-header has-text-dark is-size-3">
          <p><i class="fas fa-laptop"></i> About The Project</p>
        </div>
        <div class="message-body has-text-dark is-size-4">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste,
          accusantium voluptas culpa, quia veritatis deleniti veniam explicabo,
          quam eius amet iusto harum totam nemo beatae! Odio sed rerum sit
          beatae.
        </div>
      </article>
    </div>
    <div class="column is-3 is-offset-2" style="margin-top: 127px">
      <button class="button is-large is-warning">
        <div>
          <a href="{{ url_for('signuppage') }}" class="has-text-dark">
            <i class="fas fa-poll"></i> <strong>Sign Up</strong>
          </a>
        </div>
      </button>
    </div>
  </div>
  
  </div>

  {% endblock %}
</div>
