{% extends 'index.html' %} {% block body %}

<section class="bg-gray-50 dark:bg-white bg-gradient-to-r from-rose-100 to-teal-100">
  <div class="mx-auto flex flex-col items-center justify-center px-6 py-8 md:h-screen lg:py-0">
    <a href="#" class="dark:text- mb-6 flex items-center text-2xl font-semibold text-gray-900">FitFusion</a>
    <div class="w-full rounded-lg bg-white shadow dark:border dark:border-gray-700 dark:bg-gray-800 sm:max-w-md md:mt-0 xl:p-0">
      <div class="space-y-4 p-6 sm:p-8 md:space-y-6 ">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 dark:text-white md:text-2xl">Sign in to your account</h1>
        <form class="space-y-4 md:space-y-6" action="#" method="post">
          <div class="field">
        {{ form.uname.label() }} {% if form.uname.errors %} {{
        form.uname() }}
        <div class="help is-danger">
          {% for error in form.uname.errors %} {{ error }} {% endfor %}
        </div>
        {% else %} {{ form.uname() }} {% endif %}
      </div>
      <div class="field">
        {{ form.password.label(class="label") }} {% if form.password.errors %}
        {{ form.password() }}
        <div class="help is-danger">
          {% for error in form.password.errors %} {{ error }} {% endfor %}
        </div>
        {% else %} {{ form.password() }} {% endif %}
      </div>
      <div class="field">{{ form.submit() }}</div>
        </form>
      </div>
    </div>
  </div>
</section>


{% endblock %}
