<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="viewport" content="widthdraw=device-width, initial-scale=1.0">
    <title>DBMS</title>
    <link rel = "stylesheet" type="text/css" href="{{url_for('static',filename='styles.css')}}">
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <div class="box">
                <h2>Calories Remaining</h2>
                <br>
                <h1>1,930    -   589   +   212   =   1,553</h1>
                <br>
                <p>Goal    -   Food   +   Exercise   =   Remaining</p> 
            </div>
        <div class="row">
            <div class="box1">
                <h2>Weight</h2>
                <h1>87 Kg</h1> 
                <a href="#" class="btn">Update</a>
            </div>
            <div class="box2">
                <h2>Height</h2>
                <h1>180 cm</h1> 
                <a href="#" class="btn">Update</a>
            </div>
            <div class="box3">
                <h2>BMI</h2>
                <h1>24.5</h1> 
                <p>(normal)</p>
            </div>
        </div>
            <div class="box">
                <h2>Water Consumed</h2>
                <br>
                <h1>1200ml</h1>
                <br>
                <p>Target-2800ml</p> 
                <a href="#" class="btn1">+ 250ml</a>
                <a href="#" class="btn1">+500ml</a>
                <a href="#" class="btn1">+1000ml</a>
            </div>
        </div>
    </div>
</body>
</html>